.git/
.idea/
.42c/
**/.gradle/
**/.idea/
**/.kotlin/
**/build/
**/out/
**/node_modules/
frontend/dist/
backend/agents/
backend/bruno/results.json
backend/db-schema.md
backend/readme.md
backend/req.md
backend/treb.md
spring-starter.zip
*.iml
*.iws
*.ipr
*.log
