DB_URL=jdbc:postgresql://localhost:5434/web_course_work
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=change-me-to-a-long-random-secret-for-local-docker
JWT_ACCESS_TOKEN_TTL=PT15M
JWT_REFRESH_TOKEN_TTL=PT720H
